.home-container {
    padding: 20px;
  }
  
  .featured-movies {
    margin-top: 20px;
  }
  
  .movie-images {
    display: flex;
    flex-wrap: wrap;
  }
  
  .movie-images img {
    width: 200px;
    margin: 10px;
  }
  